* {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 200 70px;
}

.words-wrapper {
  box-sizing: border-box;
  display: flex;
  width: 70%;
}

.word {
  white-space: nowrap;
}